.hero{
    margin-top:4cm;
}
.hero .static-txt{
    color: rgb(18, 18, 18);
    font-size: 50px;
    font-weight: 400;
}
.hero .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}
.dynamic-txts li{
    list-style: none;
    color: #0a0c10;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 7s steps(4) infinite;
} 
@keyframes slide {
    100%{
        top: -360px;
    }
}
.dynamic-txts li span{
    position: relative;
    margin :5px 0;
    line-height: 90px;
}
.dynamic-txts li span ::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background : 0000;
   border-left: 2px solid #0d0d11;
   animation: typing 3s steps(10) infinite;
}

@keyframes typing {
    40%, 60%{
        left: calc(100px + 30px);

    }
    100%{
        left:0;
    }
}
input{
    background-color: rgba(0, 255, 255, 0);
    opacity: 0%;
   
    color:#EAEAEA ;
    opacity: unset;
    box-shadow: none;
    border-radius: 2px;
    height: 2cm;
    width: 5cm;
    font-size: 20px;
    transition: 0.5s;
 
    

}
input:hover{
    background-color:  #00ABB3 ;
    border-bottom-right-radius: calc(70px + 30px);
    border-top-right-radius: calc(70px + 30px);




}